body{
	font-family: 'Hind Siliguri', Open Sans;
}
.player-console {
  display: none;
}
.what{
  height: 450px;
}
input[type=text], select {
    padding: 10px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	background-color: #ccc;
}
.btn{
    background-color: 	#3232ff;
    color: white;
    font-size: 18px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	margin-left: 30px; 
}

.dice {
    position: absolute;
    left: 50%;
    top: 180px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.dice2 {
    position: absolute;
    left: 60%;
    top: 180px;
    transform: translateX(-30%);
    height: 90px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}